CompileFlags:
  Remove:
    - "-fzero-init-padding-bits=*"
    - "-fno-malloc-dce"
    - "-fstrict-volatile-bitfields"
    - "-fno-tree-switch-conversion"
    - "-m*"
Diagnostics:
  Suppress:
    - drv_unknown_argument
